@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: rgb(250 250 252);
  --color-foreground: rgb(24 24 27);
}

:root {
  --background: 250 250 252;
  --foreground: 24 24 27;
}

:root.dark {
  --background: 2 6 23;
  /* slate-950 */
  --foreground: 248 250 252;
  /* slate-50 */
}

body {
  background-color: rgb(var(--background));
  color: rgb(var(--foreground));
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .glass-panel {
    @apply bg-white/10 backdrop-blur-md border border-white/20 shadow-xl;
  }

  .text-balance {
    text-wrap: balance;
  }
}